@{
    ViewData["Title"] = "Empréstimos de Livros";
}

<body>

    <!-- Banner -->
    <header class="bg-primary text-white text-center py-5">
        <div class="container">
            <h1 class="display-4">Bem-vindo ao Sistema de Empréstimo de Livros</h1>
            <p class="lead">Compartilhe conhecimento e histórias através do empréstimo de livros entre amigos.</p>
        </div>
    </header>



    <!-- Bootstrap JS e Popper.js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
